@import "tailwindcss";

@media print {
  body * {
    visibility: hidden !important;
  }

  .print-section,
  .print-section * {
    visibility: visible !important;
  }

  .print-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
